/*Giving the container that holds the "games" a property of flex*/
.gameList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
  /*margin: 50px;*/
  border-radius: 5px; 
  border: 20px solid #209584;
}

.imageContainer {
  flex-grow: 1;
}

/*When games are added to the gameList container they will diplay in rows*/
.game {
	width: 150px;
	height: 150px;
  position: relative;
  z-index: 3;
  top: 10px;
	padding: 0px 5px;
	justify-content: center;
	text-align: center;
	margin: 25px 0 0 0;
  
}

.shelfImg {
  max-width: 150px;
  max-height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.6);
}

.placeHolder {
  width: 110px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #e3e3e3;
  box-shadow: 0px 5px 5px rgba(68, 68, 68, 0.6);
  display: table;
}

.placeText {
  display: table-cell;
  vertical-align: middle;
  padding: 4px;
}

.game:hover {
  top: -2px;
}

.shelfContainer {
  position: relative;
}

.shelf {
  z-index: 1;
  border-bottom: 25px solid #29BBA6;
    /*border-left: 10px solid transparent;*/
    /*border-right: 10px solid transparent;*/
  position: relative;
}

.shelf:after {
  content: '';
  background: #209584;
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: -45px;
  right: 0px;
  z-index: 2;
}

.pageControl {
  margin: 15px;
}

.PageControlRow {
  justify-content: center;
}
