/*Giving the container that holds the "games" a property of flex*/
.gameList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin-left: 90px;
  margin-top: 10px;
  height: 100vh;
  background-color: grey;
  background-image: url("./Shelf-dark.png");
  border-radius: 5px;
}

/*When games are added to the gameList container they will diplay in rows*/
.game {
	/*border: black;*/
	border-style: solid;
	width: 150px;
	height: 150px;
	/*font-size: 50px;*/
	padding: 0px 5px;
	justify-content: center;
	text-align: center;
	margin: 20px 0;
}


